body {
  background-color: var(--black);
}

.bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bar__nav {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.bar__nav .header__logo {
  margin-right: 3rem;
}

.bar__enlace {
  color: var(--paragraph);
  font-size: 1.8rem;
  transition: 0.2s ease;
}

.bar__enlace:hover {
  color: var(--login-main--footer);
}

.bar__profile input {
  background-color: transparent;
  border: 1px solid var(--white);
  padding: 1rem 2rem;
  color: var(--white);
}

/* Main */

.movies-section__title {
  font-size: 1.8rem;
}

.netflix-row {
  position: relative;
  pad: 0 4%;
}

.slider {
  overflow: hidden;
  scroll-behavior: smooth;
  /* transform: translateX(-100%); */
}

.slides {
  display: flex;
  gap: 0.5rem;
  padding: 1rem 0;
  transition: transform 0.6s cubic-bezier(0.5, 0, 0.1, 1);
  /* transform: translateX(100%); */
}

.slide {
  flex: 0 0 calc(25% - 0.5rem);
  min-width: calc(25% - 0.5rem);
}

.slide__img {
  width: 100%;
  border-radius: 4px;
  transition: 0.3s ease;
  cursor: pointer;
}

.slide__img:hover {
  transform: scale(1.2);
  z-index: 10;
}

.handle {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 4%;
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  color: white;
  font-size: 2rem;
  z-index: 20;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.handle-prev {
  left: 0;
}

.handle-next {
  right: 0;
}

.handle:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
