body {
  background-color: var(--black);
}

/* Modal */
.modal-overlay {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  height: 100vh;
  width: 100vw;
  background-color: var(--overlay);

  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-content {
  background-color: var(--white);
  color: var(--black);
  padding: 2rem;
  border-radius: 1rem;
  width: 60rem;
  max-width: 90%;
  bottom: 50%;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}
.modal-content p {
  margin: 0;
  font-size: 2rem;
}

.modal-content .btn {
  color: var(--white);
  margin-top: 2rem;
}

.bottom-btn {
  font-size: 1.8rem;
  position: fixed;
  bottom: 2rem;
  width: 90%;
  left: 50%;
  transform: translate(-50%, 100%);

  transition:
    transform 0.5s cubic-bezier(0.4, 0, 0.2, 1),
    opacity 0.3s ease;

  box-shadow: 1rem 0 2rem var(--black);
  opacity: 0;
}

/* Header */
.header {
  background-image: url("../imgs/background.jpg");
  background-repeat: no-repeat;
  background-position: center center;
}

.header__overlay {
  background-color: var(--overlay);
  padding-bottom: 8rem;
  height: 60rem;
}

.header__bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}

.header__nav {
  display: flex;
  gap: 1.6rem;
}

.header__nav .btn,
.header__languages {
  height: 3.5rem;
}

.header__info {
  text-align: center;
  margin: 10rem auto 0;
}

.header__title {
  font-size: 3.2rem;
  margin-bottom: 0;
}

.header__price {
  margin-top: 1rem;
}

.header__form button {
  align-self: center;
  font-size: 1.8rem;
}

/* Tendencias */

.trend__carrousel {
  overflow: hidden;
}

.trend__carrousel,
.trend__article {
  position: relative;
}

.trend__container {
  display: flex;
  gap: 1rem;
  padding: 1rem 0 1rem 1rem;
  transition: transform 0.6s cubic-bezier(0.5, 0, 0.1, 1);
}

.trend__article {
  flex: 0 0 calc(33.3% - 1rem);
  min-width: calc(33.3% - 1rem);
  cursor: pointer;
  transition: 0.3s ease;
}

.trend__article:hover {
  transform: scale(1.1);
}

.trend__img {
  min-width: 10rem;
  padding: 0.4rem;
  border-radius: 1rem;
}

.trend__num {
  position: absolute;
  left: -4%;
  bottom: 10%;

  font-size: 6rem;
}

.trend__arrow {
  position: absolute;
  font-size: 3rem;
  background-color: var(--background-arrows);
  border: none;
  color: inherit;
  top: 50%;
  transform: translateY(-50%);
  height: 60%;
  border-radius: 0.4rem;
  cursor: pointer;
}

.trend__arrow--left {
  left: 0;
}

.trend__arrow--right {
  right: 0;
}

/* Benefits */
.benefits__container {
  display: grid;
  gap: 1rem;
}

.benefits__benefit {
  background-image: linear-gradient(
    120deg,
    var(--gradiant-1),
    var(--gradiant-2)
  );
  padding: 1rem 2rem;
  border-radius: 2rem;

  display: flex;
  flex-direction: column;
}

.benefits__benefit svg {
  align-self: flex-end;
  margin-top: auto;
}

.benefits__title {
  font-size: 2rem;
  margin: 2rem 0 0 0;
}
.benefits__info {
  color: var(--benefits-paragraph);
}

/* Questions */
.questions .btn {
  align-self: flex-start;
}

.questions__list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.questions__item {
  background-color: var(--question);
  transition: 0.2s ease;
}

.questions__item:hover {
  background-color: var(--question-hover);
}

.question {
  cursor: pointer;
}

.question p {
  font-size: 1.8rem;
}

.question__title {
  padding: 2.4rem;
  font-size: 1.8rem;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.question__title::after {
  content: " +";
  margin-left: 4rem;
  font-size: 3rem;
}

.question__content {
  padding: 0 2.4rem 2.4rem 2.4rem;
}

.question[open] .question__title::after {
  content: " x";
}

/* Footer */
.footer {
  position: relative;
}

.footer__num {
  text-decoration: underline;
}

.footer__title,
.footer__item a,
.footer__tag,
.footer__num {
  color: var(--footer);
}

.footer__item a {
  font-size: 1.4rem;
}

.footer__tag {
  margin-top: 4rem;
}

.footer__copyright {
  font-size: 1.3rem;
  color: var(--footer-copyright);
}

.footer__copyright button {
  text-decoration: underline;
  color: var(--footer-copyright-button);
  background-color: transparent;
  border: none;
  padding: 0;
}

@media (min-width: 600px) {
  .header__form {
    flex-direction: row;
  }

  .header__form input {
    min-width: 25.4rem;
  }

  /* Questions */
  .footer__list {
    grid-template-columns: repeat(2, 1fr);
  }

  .questions .header__form input {
    flex-basis: 70%;
  }

  .questions .header__form button {
    flex-basis: 30%;
  }

  .questions__info {
    text-align: center;
  }

  .trend__article {
    flex: 0 0 calc(25% - 1rem);
    min-width: calc(25% - 1rem);
  }

  .bottom-btn {
    transform: translateY(100%);
    display: none;
  }
}

@media (min-width: 960px) {
  .header__info {
    margin-top: 10rem;
    max-width: 60rem;
  }

  .header__title {
    font-size: 4rem;
  }

  .header__overlay {
    height: 70rem;
  }

  .header__form input {
    min-width: 34rem;
  }

  /* Trend */
  .trend__article {
    flex: 0 0 calc(20% - 1rem);
    min-width: calc(20% - 1rem);
  }

  .trend__article div {
    min-height: 19rem;
    object-fit: cover;
  }

  /* Benefits */
  .benefits__container {
    grid-template-columns: repeat(2, 1fr);
  }

  /* Questions */
  .footer__list {
    grid-template-columns: repeat(3, 1fr);
  }

  .question p {
    font-size: 2.4rem;
  }

  .question__title {
    font-size: 2.4rem;
  }

  .questions .header__form {
    margin: 0 auto;
    max-width: 64rem;
  }
}

@media (min-width: 1280px) {
  /* Header */
  .header__form input {
    min-width: 38rem;
  }

  .header__form button {
    font-size: 2.4rem;
  }

  .header__overlay {
    height: 80rem;
  }

  .header__title {
    font-size: 5.6rem;
  }

  .header__price {
    font-size: 2rem;
    font-weight: 600;
  }

  /* Benefits */
  .benefits__container {
    grid-template-columns: repeat(4, 1fr);
  }

  .benefits__title {
    font-size: 2.4rem;
  }

  .benefits__info {
    margin-bottom: 8rem;
  }

  /* Questions */

  .questions .header__form {
    margin: 0 auto;
    max-width: 80rem;
  }

  /* Footer */
  .footer__list {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 1690px) {
  .header__overlay {
    height: 100vh;
  }

  .header__info {
    margin-top: 20rem;
  }

  .header__title {
    font-size: 6rem;
    font-weight: 900;
  }
}
