<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add Perfil</title>
    <link rel="stylesheet" href="../css/addPerfil.css" />
    <link rel="stylesheet" href="../css/base.css" />
  </head>
  <body>
    <main class="container">
      <section class="edit-user margin-top">
        <h1 class="edit-user__title">Añadir perfil</h1>
        <p class="edit-user__info">
          Crea un perfil para otra persona que usa Netflix.
        </p>
        <div class="edit-user__user-info">
          <div class="edit-user__img">
            <a href="#">
              <img src="../imgs/1-profile.webp" alt="Img Perfil" />
            </a>
          </div>
          <input
            name="name"
            placeholder="Nombre"
            class="edit-user__name"
            type="text"
          />

          <div class="edit-user__infantil">
            <input type="checkbox" class="edit-user__check" />
            <p>¿Infantil?</p>
          </div>
        </div>

        <div class="edit-user__btns">
          <button class="edit-user__btn">Confirmar</button>
          <button class="edit-user__btn">Cancelar</button>
        </div>
      </section>
    </main>
  </body>
</html>
