<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Elige una imágen</title>
    <link rel="stylesheet" href="../css/base.css" />
    <link rel="stylesheet" href="../css/chooseImg.css" />
  </head>
  <body>
    <main class="container">
      <h1 class="chooseImg__title">Elige tu foto de perfil</h1>
      <section class="imgs-container" id="imgs-container"></section>
    </main>
    <script src="../js/chooseImg.js"></script>
  </body>
</html>
