<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Administrar perfiles</title>
    <link rel="stylesheet" href="../css/base.css" />
    <link rel="stylesheet" href="../css/manageProfiles.css" />
  </head>
  <body>
    <main>
      <h1 class="manage-users-title">Elimina un usuario</h1>

      <div class="users-container" id="users-container"></div>
    </main>

    <script src="../js/manageProfiles.js"></script>
  </body>
</html>
