<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Usuario 1</title>
    <link rel="stylesheet" href="../css/base.css" />
    <link rel="stylesheet" href="../css/profile.css" />
  </head>
  <body>
    <header class="header">
      <nav class="container bar">
        <button>Switch Profile</button>

        <ul class="bar__nav">
          <li class="nav__item">
            <a href="#" class="bar__enlace">Inicio</a>
          </li>
          <li class="nav__item">
            <a href="#" class="bar__enlace">TV Shows</a>
          </li>
          <li class="nav__item">
            <a href="#" class="bar__enlace">Películas</a>
          </li>
          <li class="nav__item">
            <a href="#" class="bar__enlace">Novedad</a>
          </li>
          <li class="nav__item">
            <a href="#" class="bar__enlace">Mi Lista</a>
          </li>
        </ul>

        <ul class="bar__profile">
          <li>
            <input name="search" type="search" placeholder="Títulos, persona, género" />
          </li>
          <li>
            <a href="#">
              <img src="" alt="" />
            </a>
          </li>
        </ul>
      </nav>
    </header>

    <main class="container">
      <section class="movies-section">
        <h3 class="movies-section__title">Popular</h3>
        <section class="netflix-row">
          <button class="handle handle-prev" id="prev-btn">&#10094</button>
          <div class="slider">
            <ul class="slides" id="slides-popular">
            </ul>
          </div>
          <button class="handle handle-next" id="next-btn">&#10095</button>
        </section>
      </section>

      <section class="movies-section">
        <h3 class="movies-section__title">Nuevo</h3>
        <section class="netflix-row">
          <button class="handle handle-prev" id="prev-btn-new">&#10094</button>
          <div class="slider">
            <ul class="slides" id="slides-new">
            </ul>
          </div>
          <button class="handle handle-next" id="next-btn-new">&#10095</button>
        </section>
      </section>

      <section class="movies-section">
        <h3 class="movies-section__title">Más visto</h3>
        <section class="netflix-row">
          <button class="handle handle-prev" id="prev-btn-most-watched">&#10094</button>
          <div class="slider">
            <ul class="slides-vertical" id="slides-most-watched">
            </ul>
          </div>
          <button class="handle handle-next" id="next-btn-most-watched">&#10095</button>
        </section>
      </section>
    </main>

    <script src="../js/profile.js"></script>
  </body>
</html>
