<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Perfiles</title>
    <link rel="stylesheet" href="../css/base.css" />
    <link rel="stylesheet" href="../css/users.css" />
  </head>
  <body>
    <main class="users-container">
      <h1 class="users-title">¿Quién está viendo?</h1>
      <section class="users" id="users">
        <article class="users__add-user" id="add-profile">
          <button class="users__plus-sign" id="add-profile__btn">+</button>
          <h3 class="user__title">Agregar Perfil</h3>
        </article>
      </section>
      <button class="manage-profiles" id="manage-profiles">
        Administrar perfiles
      </button>
    </main>

    <script type="module" src="../js/addProfile.mjs"></script>
  </body>
</html>
