<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Perfiles</title>
    <link rel="stylesheet" href="../css/base.css" />
    <link rel="stylesheet" href="../css/users.css" />
  </head>
  <body>
    <main class="users-container">
      <h1 class="users-title">¿Quién está viendo?</h1>
      <section class="users">
        <article class="user">
          <div class="user__photo">
            <a href="profile.html">
              <img src="../imgs/1-profile.webp" alt="User profile" />
            </a>
          </div>
          <h3 class="user__title">Usuario 1</h3>
        </article>
        <article class="users__add-user">
          <button class="users__plus-sign">+</button>
          <h3 class="user__title">Agregar Perfil</h3>
        </article>
      </section>
      <button class="manage-profiles">Administrar perfiles</button>
    </main>
  </body>
</html>
